*.pt filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
data/elliptic/elliptic_txs_features.csv filter=lfs diff=lfs merge=lfs -text
